.reviews-slider {
    position: relative;

    &__wrapper {
        padding: 0 140px;

        @media (max-width: 1024px) {
            padding: 0 50px;
        }

        @media (max-width: 481px) {
            padding: 0;
        }
    }

    &__slide {
        display: flex;
        align-items: center;
        gap: 57px;

        @media (max-width: 1024px) {
            gap: 20px;
        }

        @media (max-width: 606px) {
            flex-direction: column;
        }
    }

    &__image {
        flex: 0 0 50%;
        position: relative;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__creds {
        padding: 15px 22px;
        border-radius: 8px;
        backdrop-filter: blur(50px);
        background: rgba(40, 48, 54, 0.2);
        max-width: 265px;
        position: absolute;
        right: 0;
        bottom: 5%;

        @media (max-width: 733px) {
            padding: 10px 12px;
        }
    }

    &__name {
        color: rgba(255, 253, 253, 0.78);
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 1.5%;
        padding-bottom: 8px;

        @media (max-width: 733px) {
            font-size: 18px;
            padding-bottom: 4px;
        }
    }

    &__position {
        color: rgba(255, 253, 253, 0.55);
        font-size: 16px;
        font-weight: 400;

        letter-spacing: 0%;
    }

    &__content {
        flex: 0 0 50%;
        position: relative;
    }

    &__quotes {
        position: absolute;
        left: -10%;
        top: -10%;
    }

    &__text {
        @include text(0);
        height: 180px;
    }

    &__controls {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    &__btn {
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        background: none;
        color: $active;
        font-size: 50px;

        &:hover {
            color: $activeHover;
        }

        &--prev {
            position: absolute;
            top: 50%;
            left: 0;

            @media (max-width: 484px) {
                top: 30%;
            }
        }

        &--next {
            position: absolute;
            top: 50%;
            right: 0;

            @media (max-width: 484px) {
                top: 30%;
            }
        }

        &:disabled {
            color: rgba(255, 255, 255, 0.28);
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        padding-top: 100px;

        @media (max-width: 484px) {
            padding-top: 80px;
        }
    }

    &__dot {
        width: 44px;
        height: 6px;
        background-color: rgb(40, 48, 54);
        border-radius: 4px;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &--active {
            background-color: $active;
        }
    }
}
