@mixin title($pb: null, $color: white) {
    font-size: $font-size-title;
    line-height: 130%;
    padding-bottom: $pb;
    color: $color;
    text-transform: capitalize;

    @include for-mobile {
        font-size: $font-size-title-mobile;
        line-height: 120%;
    }
}
