.header {
    padding: 26px 0;
    white-space: nowrap;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            gap: 20px;
        }
    }

    &__logo {
        font-size: 22px;
        display: flex;
        gap: 12px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__nav-mobile {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: $menuBg;
        position: absolute;
        right: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 5;

        .nav-mobile__dropped-item {
            padding-left: 20px;
            a {
                color: $white;
            }
        }
        .nav-mobile__item {
            padding-bottom: 10px;
        }

        .nav-mobile__link {
            color: $white;
        }
        .nav-mobile__login,
        .nav-mobile__signup {
            background: none;
            color: $white;
            text-transform: capitalize;
            padding: 0;
        }
    }

    &__nav {
        display: flex;
        font-size: 15px;
        font-weight: 400;
        justify-content: space-between;

        .nav__list {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-around;
            gap: 22px;
            text-transform: capitalize;

            .nav__item {
                margin-left: 20px;
                cursor: pointer;

                &--dropdown {
                    position: relative;
                }

                .nav__droppable {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                .nav__link {
                    color: $white;
                    text-decoration: none;
                    font-size: 16px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .nav__dropped-menu {
                    max-width: 100%;
                    position: absolute;
                    top: 30px;
                    flex-direction: column;
                    gap: 20px;
                    display: none;
                    a {
                        color: $white;
                    }
                }

                .nav__active {
                    display: flex;
                }
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        gap: 41px;
        text-transform: capitalize;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__login {
        color: $white;
        background: none;
        text-transform: capitalize;
    }

    &__signup {
        @include button(0);
    }

    &__burger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .burger__line {
            width: 25px;
            height: 3px;
            background-color: $white;
            margin: 3px 0;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__burger {
            display: flex;
        }

        &__nav-mobile {
            display: none;
        }

        &__nav-mobile--active {
            display: flex;
            color: white;
        }
    }
}
